  <center > 
               <form action='https://www.2checkout.com/checkout/purchase' method='post'>
                  <input type='hidden' name='sid' value='2169297'>
                  <input type='hidden' name='quantity' value='1'>
                  <input type='hidden' name='product_id' value='3'>
                  <input class="my-button" 
                     style="background: orange; color:white; 
                                 margin-top:10px; margin-bottom:10px;" 
                     name='submit' type='submit' value='Add to Cart' >
               </form>
   </center>
