  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background: black;">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar" style="background: white;"></span>
               <span class="icon-bar" style="background: white;"></span>
               <span class="icon-bar" style="background: white;"></span>
            </button> <! -- end of button -->
            <a class="navbar-brand" href="/">Home</a> 
        </div> <! -- end of navbar-header div -->
        <div class="navbar-collapse collapse" style="padding: 0;">
            <ul class="nav nav-tabs" >
               <li class="navbar-right" ><a href="/contact-us">Contact Us</a> </li>
               <li class="dropdown navbar-right" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Products <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                              <li class="navbar-right" ><a href="/email-marketing">Email Marketing</a> </li>
                              <li class="navbar-right" ><a href="/content-marketing">Content Marketing</a> </li>
                              <li class="navbar-right"><a href="/social-media">Social Media</a></li>
                              <li class="navbar-right"><a href="/video">Video</a></li>
                              <li class="navbar-right"><a href="/email">Email</a></li>
                              <li class="navbar-right"><a href="/domains">Domain Names</a></li>
                              <li class="navbar-right"><a href="/web-hosting">Web Hosting</a></li>
                              <li class="navbar-right"><a href="/website-design">Website Design</a></li>
                      </ul>
               </li>
            </ul>