<div>
<div class="navbar-header">
      
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background: black;">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar" style="background: white;"></span>
               <span class="icon-bar" style="background: white;"></span>
               <span class="icon-bar" style="background: white;"></span>
            </button> <! -- end of button -->
            <a class="navbar-brand" href="/">Home</a> 
        </div> <! -- end of navbar-header div -->
        <div class="navbar-collapse collapse" style="padding: 0;">
            <ul class="nav nav-tabs" >
               
               <li class="navbar-right" >
               <a class="my-button-small orange" style="
                     color:white; 
                     border-color: grey; 
                     border-width:4px; 
                     border-style: outset;
                     border-top-left-radius: 15px;
                     border-top-right-radius: 15px;
                     border-bottom-left-radius: 15px;
                     border-bottom-right-radius: 15px;
                     " href="/do-it-all-for-you-packages"> 
                  Do it all for me </a> 
               </li>
                  
               <li class="navbar-right" ><a href="/contact-us">Contact Us</a> </li>
               <li class="navbar-right" >
                     <a href='https://www.2checkout.com/checkout/purchase'>View Cart</a>
               </li>
               
               <li class="navbar-right" ><a href="/products"> Products  </a> </li>
               
            </ul>
            
</div> <! -- end of navbar navbar-default div -->
</div> <! -- end of navbar-collapse div --> 
