   <div class="content-marketing-wrapper">
   <div class="content-block">
      <br>
      <center><h2 style="color: white; font-size: 4em"> - G - <br> Content Marketing <br> Options</h2></center>
      <br>
      <br>
      <p> Pay for web content to keep your customers engaged, this includes blog posts, social media updates, email newsletters and more . We can also provide social media campaign support in the form of helping to generate content for your social media profiles and helping you manage the process. </p>
      <br>
      {% include tables/content-marketing.html %} 
      <br>
   </div> <! -- end of content-block div -->
   </div> <! -- end of content-marketing-wrapper div -->
