<div class="domains-wrapper">
<div class="content-block">
<br>
<center><h2 style="color: white; font-size: 4em"> - C - <br>Domain Name <br>Options</h2></center>
<br>
<br>
<p> Help your customers easily find your website by using a memorable domain name. Use your domain name in an advertisements, on a your business card or wherever.  </p>
<p> There are various GTLD's to choose from </p>
<p> Example: yourbusiness.com </p>

<br>
{% include tables/domains.html %} 
<br>
</div> <! -- end of content-block div -->
</div> <! -- end of domains-wrapper div -->
