  <div class="email-marketing-wrapper">
   <div class="content-block">
      <br>
      <center><h2 style="color: white; font-size: 4em"> - H - <br> Email Marketing <br> Options</h2></center>
      <br>
      <br>
      <p> You can build lists of your customers and send out campaigns with specials etc. Connect the in store experience to the online world to remind customers of your business and to invite them back. </p>
      <br>
      {% include tables/email-marketing.html %} 
      <br>
   </div> <! -- end of content-block div -->
   </div> <! -- end of email-marketing-wrapper div -->
