<div class="social-media-wrapper">
   <div class="content-block">
      <br>
      <center><h2 style="color: white; font-size: 4em"> - F - <br> Social Media <br> Options</h2></center>
      <br>
      <br>
      <p style="color: white;"> We can design professional and effective images for you to use as profile pictures, headers and backgrounds for your social media profiles, including Facebook, Twitter, Youtube and more.</p>
      <p style="color: white;"> We can also design a social media plan for your business, to help you make effective use of social media to promote your brand.  </p>
      <br>
      {% include tables/social-media.html %} 
      <br>
   </div> <! -- end of content-block div -->
   </div> <! -- end of social-media-wrapper div -->
