<div class="video-wrapper">
   <div class="content-block">
      <br>
      <center><h2 style="color: white; font-size: 4em"> - E - <br> Video <br> Options</h2></center>
      <br>
      <br>
      <p style="color: white;"> Use video adds to promote your business on the internet. This can be Youtube videos for brand awareness or explainer videos. You can also use video in other ways such as for video sales letters or add interactivity to the video, contact us to see what options are available. </p>
      <br>
      {% include tables/video.html %} 
      <br>
   </div> <! -- end of content-block div -->
   </div> <! -- end of video-wrapper div -->