<div class="web-hosting-wrapper">
<div class="content-block">
<br>
<center><h2 style="color: white; font-size: 4em"> - B - <br>Web Hosting <br>Options</h2></center>
<br>
<br>
<p> We want to make your web hosting as simple and straight forward as possible so you can get to the running of your business and leave the hosting to us. That is why we only have three hosting packages: Economy Web Hosting and Deluxe Web Hosting and Ultimate Web Hosting. </p>
<p> The Economy Web Hosting option is suitable for most people, if you find its not enough just ask for an upgrade to the next package.The Deluxe Web Hosting option is intended for customers who need to have more then one website or more than a 100 email accounts. The Ultimate Web Hosting option is for those customers that want extras like a SSL certificate and Fixed IP Address. </p>
<br>
{% include tables/web-hosting.html %} 
<br>
</div> <! -- end of content-block div -->
</div> <! -- end of web-hosting-wrapper div -->
