<div class="website-design-wrapper">
<div class="content-block">
<br>
<h2 style="color: white; font-size: 4em"> - A - <br> Website Design <br> Options</h2>
 <br>
<br>
 <h3 style="background: white">  Option 1: <br>Use the Do it Yourself - Easy Website Builder </h3>
 <p> This option includes free website hosting and email </p>
 {% include tables/website-builders.html %}
<br>
<br>
 <h3 style="background: white">  Option 2: <br>Doc to Website - Converter </h3>
  {% include tables/doc-to-website.html %}
<br>
<br>
<br>
 <h3 style="background: white">  Option 3:  <br>We Design your Website </h3>
   {% include tables/web-design.html %}
<br>
<br>
</div> <! -- end of content-block div -->
</div> <! -- end of website-design-wrapper div -->