<div class="website-design-wrapper">
<div class="content-block">
<br>
<center><h2 style="color: white; font-size: 4em"> - A - <br> Website Design <br> Options</h2></center>
 <br>
<br>
<p> We have a variety of options when it comes to putting together your website. You can do it yourself using the easy website builder or the tools we provide when you buy web hosting from us or you can ask us to design the website for you. </p>
<p> Yebolocal websites are mostly, with a few exceptions, made up out of static web pages. Static web pages load faster, have much fewer errors and are much more secure.</p>
<br>
 <br>
 <center><h3 style="background: white">  Option 1: <br>Use the Do it Yourself - Easy Website Builder </h3></center>
 <br>
<p>Fast, Easy and complete, with all the pieces you need to build a professional, full-featured website. With 24 hours a day, 365 days a year customer support available, we are there if you need help.</p>
<p>If you need a simple website that will only take minutes to build, the Economy option is perfect for you or perhaps you need something that is ideal for a business website with more features, pick between the Deluxe and the Premium Website Builders.</p>
<p>All website builder options include free website hosting and email </p> 
 <br>
 <center> {% include tables/website-builders.html %} </center>
<br>
<br>
 <center> <h3 style="background: white">  Option 2: <br>Doc to Website - Converter </h3></center> 
 <br>
 <p> With this package we will convert a document you provide into a website. The document can be in the in Microsoft Word, Powerpoint, PDF or any similar format. </p>
 <p> The website will have the basic elements like a navigation bar, header and footer and will present the information provided in the document to your website visitors. </p>
  <br>
  <center> {% include tables/doc-to-website.html %}</center> 
<br>
<br>
 <center> <h3 style="background: white">  Option 3:  <br>We Design your Website </h3></center> 
 <br>
 <p> We will meet with you in person or interact via email or phone to find out what you want to achieve with your web presence and design the your website based on your description and the information you provide. </p>
 <p> A designer will spend up to 3 hours with you to determine what you want, make recommendations and with your approval design and develop the website, set up all the settings and to optimise the website with basic search engine optimisation. </p>
  <p> You will have the opportunity to request reasonable revisions to the website until you are happy with the final product. </p>
  <h4 style="color:white;"> Standard Website Design </h4>
 <p> This is fully featured website with up to 10 pages , designed based on what you tell us you want. </p>
<center> {% include tables/web-design.html %}</center> 
<h4 style="color:white;">  Custom Website Design </h4>
 <p> For customers with specific website design needs a custom package can easily be negotiated.</p>
 <p> Everything that you get with the Yebolocal - Standard Website Design plus any of the added extras like extra pages, a blog, a online store, an online payment gateway or other speciality applications. </p>
 <h4 style="color:white;">  Some of the elements  we can include in your website</h4>
 <p> Choose which website elements to include:</p>
 <ul>
   <li> A contact form where website visitors can send you a message directly from your website. </li>
   <li> Social media share buttons so that website visitors can easily share one of your web pages with others.</li>
   <li> Connections to social media profiles from website.</li>
   <li> A embedded Google map so that people can see where your business is located.</li>
   <li> A Frequently ask questions section so that you can provide answers to the most common questions you get asked.</li>
   <li> A image slider that rotates and shows a series of images.</li>
   <li> A image banner displaying a horizontal image.</li>
   <li> A Tag Canvas with images or links to different webpages in your side.</li>
   <li> and more</li>
</ul>
 <h4> Don't worry if you don't know which elements to pick, the designer can give you advice on how you can use the elements and can recommend which ones to choose. </h4>











 
<br>
<br>
</div> <! -- end of content-block div -->
</div> <! -- end of website-design-wrapper div -->