---
title: Impress your prospects with Video and Social Media
layout: default
---
<br>
<center>
   <h1>Impress your prospects with <br>
   Video and Social Media</h1>
   <br>
   <h3> If you already have a website <br>
      take the next step by using: </h3>
   <br>
   <h3>Video</h3> 
   <h3>& / or</h3>
   <h3>Social Media</h3>
   <br>
   <br>
   <div class="video-wrapper">
   <div class="video">
      <br>
      <h2 style="color: white; font-size: 4em"> - E - <br> Video <br> Options</h2>
      <br>
      <br>
      {% include tables/video.html %} 
      <br>
   </div> <! -- end of video div -->
   </div> <! -- end of video-wrapper div -->
   <div class="social-media-wrapper">
   <div class="social-media">
      <br>
      <h2 style="color: white; font-size: 4em"> - F - <br> Social Media <br> Options</h2>
      <br>
      <br>
      {% include tables/social-media.html %} 
      <br>
   </div> <! -- end of social-media div -->
   </div> <! -- end of social-media-wrapper div -->
<br>
<br>
<br>
<h1> Don't have a website yet?
<br>
<h2 style="background: grey; max-width: 400px; "> <a href="/level-1" style="color: white;" > Click here</a> </h2>
<br>
<br>
<h1> Once you have a website, professional email, <br> video and social media  <br>
<br>
the next step is <br>
Content and Content Marketing </h1>
<br>
<h2 style="background: orange; max-width: 400px; "> <a href="/level-3" style="color: white;" > Click here to find out more</a> </h2>
<br>
<br>

</center>