---
title: Get your Business online with a Website and Professional Email
layout: default
---
<br>
<center>
<h1>  Get your Business online with <br>
a Website and Professional Email </h1>
<br>
<h2> You need 3 things to get started</h2>
<br>
            <p>Website Design - 3 Options</p> 
            <p>Website Hosting - 3 Options</p>
            <p>Domain Name Registration - Many Options</p>
</center>
<br>
<br>
{% include blocks/website-design.html %} 
{% include blocks/web-hosting.html %} 
{% include blocks/domains.html %} 
{% include blocks/email.html %} 
<br>
<br>
<center>
<h1> Once you have a website <br>
and professional email <br>
<br>
the next step is <br>
Video and Social Media </h1>
<br>
<h2 style="background: orange; max-width: 400px; "> <a href="/level-2" style="color: white;" > Click here to find out more</a> </h2>
<br>
<br>
</center>