---
title: Get your Business online with a Website and Professional Email
layout: default
---
<br>
<center>
<h1>  Get your Business online <br> with 
a <br> Website and Professional Email </h1>
<br>
<h2> You need 3 things to get started</h2>
<br>
            <p>Website Design - 3 Options</p> 
            <p>Website Hosting - 3 Options</p>
            <p>Domain Name Registration - Many Options</p>
</center>
<br>
<hr/>
<div class="content-block">
<center>
<p style="color:grey; font-size:small;"> Below you will find all the information you need, but if you are not sure about something or you need some help please contact us. </p>
<p style="color:grey; font-size:small;"> You might also want to consider using the "We do it all for you" option. <a style="color:grey" href="/do-it-all-for-you-packages"> Click here to find out more </a> </p>
</center>
</div> <! -- end of content-block div -->
<br>
<br>
{% include blocks/website-design.html %} 
{% include blocks/web-hosting.html %} 
{% include blocks/domains.html %} 
{% include blocks/email.html %} 
<br>
<br>
<center>
<h1> Once you have a website <br>
and professional email <br>
<br>
the next step is <br>
Video and Social Media </h1>
<br>
<label  class="my-button" style="background: orange;">  <a href="/level-2"> 
            Click here to find out more</a> </label>
<br>
<br>
<br>
<br>
</center>