<table  class="table">
<thead>
<tr>
<th class="table-heading"><center></center></th>
<th class="table-heading"><center>Once off Fee</center></th>
</tr>
</thead>

<tbody>

<tr>
<th class="side-heading">Email Newsletter</th>
<td class="table-row" >
      <center>R297
         <br>  {% include buy-button/content-email-newsletter.html%} <br>
      </center></td>
</tr>

<tr>
<th class="side-heading">Blog Post</th>
<td class="table-row">
      <center>R297
         <br>  {% include buy-button/content-blog-post.html%} <br>
      </center></td>
</tr>

<tr>
<th class="side-heading">Five Social Media Updates</th>
<td class="table-row">
      <center>R297
         <br>  {% include buy-button/content-social-media-updates-5.html%} <br>
      </center></td>
</tr>

<tr>
<th class="side-heading">One Content Image</th>
<td class="table-row">
      <center>R297
         <br>  {% include buy-button/content-image.html%} <br>
      </center></td>
</tr>

<tr>
<th class="cost-row-heading"><br></th>
<td class="cost-row"><center></center></td>
</tr>

</tbody>
</table>