<table  class="table">
<thead>
<tr>
<th class="table-heading"><center></center></th>
<th class="table-heading"><center>Basic<br>Package</center></th>
<th class="table-heading"><center>Standard<br>Package</center></th>
<th class="table-heading"><center>Ultimate<br>Package</center></th>
</tr>
</thead>

<tbody>

<tr>
<th class="side-heading">We Design your Website</th>
<td class="table-row" ><center>1 Page <br>Website</center></td>
<td class="table-row"><center>5 Page<br> Website</center></td>
<td class="table-row"><center>20 Page <br>Website</center></td>
</tr>

<tr>
<th class="side-heading">Storage Space for your website files</th>
<td class="table-row"><center>Unlimited</center></td>
<td class="table-row"><center>Unlimited</center></td>
<td class="table-row"><center>Unlimited</center></td>
</tr>

<tr>
<th class="side-heading">Bandwidth and Traffic</th>
<td class="table-row"><center>Unlimited</center></td>
<td class="table-row"><center>Unlimited</center></td>
<td class="table-row"><center>Unlimited</center></td>
</tr>

<tr>
<th class="side-heading">Free Domain Name Registration </th>
<td class="table-row"><center>.com .net .org .co.za .info .biz</center></td>
<td class="table-row"><center>.com .net .org .co.za .info .biz</center></td>
<td class="table-row"><center>.com .net .org .co.za .info .biz .co .mobi .me</center></td>
</tr>

<tr>
<th class="side-heading">Email Accounts </th>
<td class="table-row"><center>0</center></td>
<td class="table-row"><center>1</center></td>
<td class="table-row"><center>5</center></td>
</tr>

<tr>
<th class="side-heading">Free Website Updates per month </th>
<td class="table-row"><center>15 min</center></td>
<td class="table-row"><center>30 min</center></td>
<td class="table-row"><center>60 min</center></td>
</tr>

<tr>
<th class="side-heading">Short Video </th>
<td class="table-row"><center>no</center></td>
<td class="table-row"><center>yes</center></td>
<td class="table-row"><center>yes</center></td>
</tr>

<tr>
<th class="side-heading">Social Media Images </th>
<td class="table-row"><center>no</center></td>
<td class="table-row"><center>2</center></td>
<td class="table-row"><center>5</center></td>
</tr>

<tr>
<th class="side-heading">Content Units per Month</th>
<td class="table-row"><center>no</center></td>
<td class="table-row"><center>no</center></td>
<td class="table-row"><center>1</center></td>
</tr>

<tr>
<th class="cost-row-heading"> Price <br>if you <br>pay monthly </th>
<td class="cost-row"><center>R787 once off fee + <br> R77 / per month</center></td>
<td class="cost-row"><center> R1297 once off fee + <br> R97 / per month<br> {% include buy-button/do-it-all-for-you-standard-monthly.html%} </center></td>
<td class="cost-row"><center>R2487 once off fee +  <br>R197 / per month</center></td>
</tr>

<tr>
<th class="cost-row-heading">Price <br>if you <br>pay yearly <br> (2 months free)</th>
<td class="cost-row"><center>R787 once off fee + <br> R770 / per year</center></td>
<td class="cost-row"><center>R1297 once off fee + <br> R970 / per year</center></td>
<td class="cost-row"><center>R2487 once off fee +  <br>R1970 / per year</center></td>
</tr>

</tbody>
</table>
               <span> 2Checkout.com Inc. (Ohio, USA) is a payment 
               facilitator for goods and services provided by Yebolocal.</span>