<table  class="table">
<thead>
<tr>
<th class="table-heading"><center></center></th>
<th class="table-heading"><center>Once off Fee</center></th>
</tr>
</thead>

<tbody>

<tr>
<th class="side-heading">Doc to 1 Page Website</th>
<td class="table-row" ><center>R397</center></td>
</tr>

<tr>
<th class="side-heading">Doc to 5 Page Website</th>
<td class="table-row"><center>R697</center></td>
</tr>

<tr>
<th class="side-heading">Doc to 10 Page Website</th>
<td class="table-row"><center>R997</center></td>
</tr>

<tr>
<th class="cost-row-heading"></th>
<td class="cost-row"><center></center></td>
</tr>

</tbody>
</table>