<table  class="table">
<thead>
<tr>
<th class="table-heading"><center></center></th>
<th class="table-heading"><center>Once off Fee</center></th>
</tr>
</thead>

<tbody>

<tr>
<th class="side-heading">Doc to 1 Page Website</th>
<td class="table-row" >
   <center>R697
      <br>  {% include buy-button/doc-to-web-1-page.html%} <br>
   </center>
   
</td>
</tr>

<tr>
<th class="side-heading">Doc to 5 Page Website</th>
<td class="table-row">
   <center>R1297
      <br>  {% include buy-button/doc-to-web-5-page.html%} <br>
   </center></td>
</tr>

<tr>
<th class="side-heading">Doc to 10 Page Website</th>
<td class="table-row">
   <center>R1497
      <br>  {% include buy-button/doc-to-web-10-page.html%} <br>
   </center></td>
</tr>

<tr>
<th class="cost-row-heading"></th>
<td class="cost-row"><center></center></td>
</tr>

</tbody>
</table>

               <span> If you press the "add to cart" button you will to forwarded to 2Checkout.com Inc. (Ohio, USA) for secure payment processing. The goods and services will be provided by Yebolocal.com</span>