<table  class="table">
<thead>
<tr>
<th class="table-heading"><center></center></th>
<th class="table-heading"><center>Yearly Fee</center></th>
</tr>
</thead>

<tbody>

<tr>
<th class="side-heading">.com</th>
<td class="table-row" ><center>R144.59 / per year</center></td>
</tr>

<tr>
<th class="side-heading">.net</th>
<td class="table-row"><center>R144.59 / per year</center></td>
</tr>

<tr>
<th class="side-heading">.co</th>
<td class="table-row"><center>R482.20 / per year</center></td>
</tr>

<tr>
<th class="side-heading">.org</th>
<td class="table-row"><center>R168.70 / per year</center></td>
</tr>

<tr>
<th class="side-heading">.co.za</th>
<td class="table-row"><center>R160.77 / per year</center></td>
</tr>

<tr>
<th class="side-heading">.mobi</th>
<td class="table-row"><center>R241.05 / per year</center></td>
</tr>

<tr>
<th class="side-heading">.info</th>
<td class="table-row"><center>R168.70 / per year</center></td>
</tr>

<tr>
<th class="side-heading">.me</th>
<td class="table-row"><center>R305.36 / per year</center></td>
</tr>

<tr>
<th class="side-heading">.biz</th>
<td class="table-row"><center>R168.70 / per year</center></td>
</tr>

<tr>
<th class="cost-row-heading">many more</th>
<td class="cost-row">
      <center>see our domains and hosting store for more <br>
               <form action='http://domains-hosting.yebolocal.com/domains/search.aspx?ci=1775&prog_id=yebolocal'>
                  <input class="my-button" 
                     style="background: orange; color:white; 
                                 margin-top:10px; margin-bottom:10px;" 
                     name='submit' type='submit' value=' Do a Domain Name Search' >
               </form>
      </center></td>
</tr>

</tbody>
</table>
            