<table  class="table">
<thead>
<tr>
<th class="table-heading"><center></center></th>
<th class="table-heading"><center>Monthly Fee</center></th>
</tr>
</thead>

<tbody>

<tr>
<th class="side-heading">Economy (1 - 500 Subscribers)</th>
<td class="table-row" >
      <center>R107 <br> per month
            <form action='http://domains-hosting.yebolocal.com/business/email-marketing.aspx?ci=42404&prog_id=yebolocal'>
                  <input class="my-button" 
                     style="background: grey; color:white; 
                                 margin-top:10px; margin-bottom:10px;" 
                     name='submit' type='submit' value='Go to Store' >
               </form>
               <br>
      </center></td>
</tr>

<tr>
<th class="side-heading">Deluxe (501 - 2500 Subscribers)</th>
<td class="table-row">
      <center>R187 <br> per month
            <form action='http://domains-hosting.yebolocal.com/business/email-marketing.aspx?ci=42404&prog_id=yebolocal'>
                  <input class="my-button" 
                     style="background: grey; color:white; 
                                 margin-top:10px; margin-bottom:10px;" 
                     name='submit' type='submit' value='Go to Store' >
               </form>
               <br>
      </center></td>
</tr>

<tr>
<th class="side-heading">Premium (2501 - 10 000 Subscribers)</th>
<td class="table-row">
      <center>R247 <br> per month
            <form action='http://domains-hosting.yebolocal.com/business/email-marketing.aspx?ci=42404&prog_id=yebolocal'>
                  <input class="my-button" 
                     style="background: grey; color:white; 
                                 margin-top:10px; margin-bottom:10px;" 
                     name='submit' type='submit' value='Go to Store' >
               </form>
               <br>
      </center></td>
</tr>

<tr>
<th class="cost-row-heading"><br></th>
<td class="cost-row"><center></center></td>
</tr>

</tbody>
</table>