<table  class="table">
<thead>
<tr>
<th class="table-heading"><center></center></th>
<th class="table-heading"><center>Fee</center></th>
</tr>
</thead>

<tbody>

<tr>
<th class="side-heading">1 - 500 Subscribers</th>
<td class="table-row" ><center>R97 / month</center></td>
</tr>

<tr>
<th class="side-heading">501 - 1000 Subscribers</th>
<td class="table-row"><center>R187 / month</center></td>
</tr>

<tr>
<th class="side-heading">Per 100 Subscribers</th>
<td class="table-row"><center>R167 / month</center></td>
</tr>

<tr>
<th class="cost-row-heading"><br></th>
<td class="cost-row"><center></center></td>
</tr>

</tbody>
</table>