<table  class="table">
<thead>
<tr>
<th class="table-heading"><center></center></th>
<th class="table-heading"><center>Monthly Fee</center></th>
</tr>
</thead>

<tbody>

<tr>
<th class="side-heading">Economy (1 - 500 Subscribers)</th>
<td class="table-row" ><center>R107 / month</center></td>
</tr>

<tr>
<th class="side-heading">Deluxe (501 - 2500 Subscribers)</th>
<td class="table-row"><center>R187 / month</center></td>
</tr>

<tr>
<th class="side-heading">Premium (2501 - 10 000 Subscribers)</th>
<td class="table-row"><center>R247 / month</center></td>
</tr>

<tr>
<th class="cost-row-heading"><br></th>
<td class="cost-row"><center></center></td>
</tr>

</tbody>
</table>