<table  class="table">
<thead>
<tr>
<th class="table-heading"><center></center></th>
<th class="table-heading"><center>Yearly Fee</center></th>
</tr>
</thead>

<tbody>

<tr>
<th class="side-heading">Personal (1 Email Address)</th>
<td class="table-row" ><center>R127</center></td>
</tr>

<tr>
<th class="side-heading">Business (5 Email Address)</th>
<td class="table-row"><center>R297</center></td>
</tr>

<tr>
<th class="side-heading">Unlimited (10 Email Address)</th>
<td class="table-row"><center>R387</center></td>
</tr>

<tr>
<th class="cost-row-heading"></th>
<td class="cost-row"><center></center></td>
</tr>

</tbody>
</table>