<table  class="table">
<thead>
<tr>
<th class="table-heading"><center></center></th>
<th class="table-heading"><center>Once of Fee</center></th>
</tr>
</thead>

<tbody>

<tr>
<th class="side-heading">Social Media Profile Picture</th>
<td class="table-row" >
      <center>R297
            <br>  {% include buy-button/social-media-profile-picture.html%} <br>
      </center></td>
</tr>

<tr>
<th class="side-heading">Social Media Header</th>
<td class="table-row">
      <center>R297
            <br>  {% include buy-button/social-media-header-image.html%} <br>
      </center></td>
</tr>

<tr>
<th class="side-heading">Social Media Background</th>
<td class="table-row">
      <center>R297
            <br>  {% include buy-button/social-media-background-image.html%} <br>
      </center></td>
</tr>

<tr>
<th class="cost-row-heading"><br></th>
<td class="cost-row"><center></center></td>
</tr>

</tbody>
</table>