<table  class="table">
<thead>
<tr>
<th class="table-heading"><center></center></th>
<th class="table-heading"><center>Once of Fee</center></th>
</tr>
</thead>

<tbody>

<tr>
<th class="side-heading">Per 20 second semi-custom Video</th>
<td class="table-row" >
   <center>R497
      <br>  {% include buy-button/video-semi-custom-20-seconds.html%} <br>
   </center></td>
</tr>

<tr>
<th class="side-heading">Per 10 second custom Video</th>
<td class="table-row">
   <center>R497
      <br>  {% include buy-button/video-custom-10-seconds.html%} <br>
   </center></td>
</tr>

<tr>
<th class="cost-row-heading"><br></th>
<td class="cost-row"><center></center></td>
</tr>

</tbody>
</table>