<table  class="table">
<thead>
<tr>
<th class="table-heading"><center></center></th>
<th class="table-heading"><center>Once off Fee</center></th>
</tr>
</thead>

<tbody>

<tr>
<th class="side-heading"> Standard 1 Page Website Design </th>
<td class="table-row" >
      <center>R897
         <br>  {% include buy-button/website-design-1-page.html%} <br>
      </center></td>
</tr>

<tr>
<th class="side-heading">Standard 5 Page Website Design</th>
<td class="table-row">
      <center>R1497
         <br>  {% include buy-button/website-design-5-page.html%} <br>
      </center></td>
</tr>

<tr>
<th class="side-heading">Standard 10 Page Website Design</th>
<td class="table-row">
      <center>R1997
         <br>  {% include buy-button/website-design-10-page.html%} <br>
      </center></td>
</tr>

<tr>
<th class="cost-row-heading"></th>
<td class="cost-row">
      <center></center></td>
</tr>

</tbody>
</table>

<span> If you press the "add to cart" button you will to forwarded to 2Checkout.com Inc. (Ohio, USA) for secure payment processing. The goods and services will be provided by Yebolocal.com</span>
<br><br>