<table  class="table">
<thead>
<tr>
<th class="table-heading"><center></center></th>
<th class="table-heading"><center>Option 1 <br>Economy Web Hosting</center></th>
<th class="table-heading"><center>Option 2 <br>Deluxe Web Hosting</center></th>
<th class="table-heading"><center>Option 3 <br>Ultimate Web Hosting</center></th>
</tr>
</thead>

<tbody>

<tr>
<th class="side-heading">With CPanel</th>
<td class="table-row" ><center>Yes</center></td>
<td class="table-row"><center>Yes</center></td>
<td class="table-row"><center>Yes</center></td>
</tr>

<tr>
<th class="side-heading">Websites</th>
<td class="table-row"><center>1</center></td>
<td class="table-row"><center>Unlimited</center></td>
<td class="table-row"><center>Unlimited</center></td>
</tr>

<tr>
<th class="side-heading">Storage Space</th>
<td class="table-row"><center>100 GB</center></td>
<td class="table-row"><center>Unlimited</center></td>
<td class="table-row"><center>Unlimited</center></td>
</tr>

<tr>
<th class="side-heading">Traffic</th>
<td class="table-row"><center>Unlimited</center></td>
<td class="table-row"><center>Unlimited</center></td>
<td class="table-row"><center>Unlimited</center></td>
</tr>

<tr>
<th class="side-heading">Email Accounts</th>
<td class="table-row"><center>100</center></td>
<td class="table-row"><center>500</center></td>
<td class="table-row"><center>Unlimited</center></td>
</tr>

<tr>
<th class="side-heading">MySQL Databases</th>
<td class="table-row"><center>10 </center></td>
<td class="table-row"><center>25 </center></td>
<td class="table-row"><center>Unlimited </center></td>
</tr>

<tr>
<th class="side-heading">Other</th>
<td class="table-row"><center></center></td>
<td class="table-row"><center></center></td>
<td class="table-row"><center>SSL Certificate <br> Fixed IP Address</center></td>
</tr>

<tr>
<th class="cost-row-heading">Price if you pay monthly</th>
<td class="cost-row"><center>R69 / month</center></td>
<td class="cost-row"><center>R119 / month</center></td>
<td class="cost-row"><center>R247 / month</center></td>
</tr>

<tr>
<th class="cost-row-heading">Price if you pay yearly <br> (2 months free)</th>
<td class="cost-row"><center>R690 / per year</center></td>
<td class="cost-row"><center>R1190 / per year</center></td>
<td class="cost-row"><center>R2470 / per year</center></td>
</tr>

</tbody>
</table>