<table  class="table">
<thead>
<tr>
<th class="table-heading"><center></center></th>
<th class="table-heading"><center>Once off Fee</center></th>
</tr>
</thead>

<tbody>

<tr>
<th class="side-heading">Standard 1 Page Website Design</th>
<td class="table-row" ><center>R897</center></td>
</tr>

<tr>
<th class="side-heading">Standard 5 Page Website Design</th>
<td class="table-row"><center>R1497</center></td>
</tr>

<tr>
<th class="side-heading">Standard 10 Page Website Design</th>
<td class="table-row"><center>R1997</center></td>
</tr>

<tr>
<th class="cost-row-heading"></th>
<td class="cost-row"><center></center></td>
</tr>

</tbody>
</table>