<table  class="table">
<thead>
<tr>
<th class="table-heading"><center></center></th>
<th class="table-heading"><center>Sub-Option 1 <br> Economy <br>Website <br>Builder</center></th>
<th class="table-heading"><center>Sub-Option 2 <br>Deluxe <br>Website<br> Builder</center></th>
<th class="table-heading"><center>Sub-Option 3 <br>Premium <br>Website<br> Builder</center></th>
</tr>
</thead>

<tbody>

<tr>
<th class="side-heading">Free Website Hosting</th>
<td class="table-row" ><center>Yes</center></td>
<td class="table-row"><center>Yes</center></td>
<td class="table-row"><center>Yes</center></td>
</tr>

<tr>
<th class="side-heading">Website Pages</th>
<td class="table-row"><center>Up to 5 page website</center></td>
<td class="table-row"><center>Up to 10 page website</center></td>
<td class="table-row"><center>Up to 99 page website</center></td>
</tr>

<tr>
<th class="side-heading">Mobile Website</th>
<td class="table-row"><center>basic <br> mobileversion of the website</center></td>
<td class="table-row"><center>customisable <br> mobileversion of the website</center></td>
<td class="table-row"><center>customisable <br> mobile version of the website</center></td>
</tr>

<tr>
<th class="side-heading">Email Accounts</th>
<td class="table-row"><center>100</center></td>
<td class="table-row"><center>500</center></td>
<td class="table-row"><center>1000</center></td>
</tr>

<tr>
<td class="cost-row-heading"><center></center></td>
<td class="cost-row-heading"><center></center></td>
<td class="cost-row-heading"><center> Pay Monthly</center></td>
<td class="cost-row-heading"><center></center></td>
</tr>

<tr>
<th class="cost-row-heading">Price if you pay monthly</th>
<td class="cost-row">
   <br>
   <center>R69 <br> per month<br><br>
               <form action='http://domains-hosting.yebolocal.com/hosting/website-builder2.aspx?ci=1806&prog_id=yebolocal'>
                  <input class="my-button" 
                     style="background: white; color:black; 
                                 margin-top:10px; margin-bottom:10px;" 
                     name='submit' type='submit' value='Go to Store' >
               </form>
         <br><br>
   </center></td>
<td class="cost-row">
   <br>
   <center>R119 <br> per month <br><br>
               <form action='http://domains-hosting.yebolocal.com/hosting/website-builder2.aspx?ci=1806&prog_id=yebolocal'>
                  <input class="my-button" 
                     style="background: orange; color:white; 
                                 margin-top:10px; margin-bottom:10px;" 
                     name='submit' type='submit' value='Go to Store' >
               </form>
         <br><br>
   </center></td>
<td class="cost-row">
   <br>
   <center>R179 <br> per month <br><br>
               <form action='http://domains-hosting.yebolocal.com/hosting/website-builder2.aspx?ci=1806&prog_id=yebolocal'>
                  <input class="my-button" 
                     style="background: white; color:black; 
                                 margin-top:10px; margin-bottom:10px;" 
                     name='submit' type='submit' value='Go to Store' >
               </form>
         <br><br>
   </center></td>
</tr>

<tr>
<td class="cost-row-heading"><center></center></td>
<td class="cost-row-heading"><center></center></td>
<td class="cost-row-heading"><center> Pay Yearly</center></td>
<td class="cost-row-heading"><center></center></td>
</tr>

<tr>
<th class="cost-row-heading">Price if you pay yearly <br> (2 months free)</th>
<td class="cost-row">
   <center>R690 <br> per year <br><br>
               <form action='http://domains-hosting.yebolocal.com/hosting/website-builder2.aspx?ci=1806&prog_id=yebolocal'>
                  <input class="my-button" 
                     style="background: white; color:black; 
                                 margin-top:10px; margin-bottom:10px;" 
                     name='submit' type='submit' value='Go to Store' >
               </form>
         <br><br>
   </center></td>
<td class="cost-row">
   <center>R1190 <br> per year <br><br>
               <form action='http://domains-hosting.yebolocal.com/hosting/website-builder2.aspx?ci=1806&prog_id=yebolocal'>
                  <input class="my-button" 
                     style="background: orange; color:white; 
                                 margin-top:10px; margin-bottom:10px;" 
                     name='submit' type='submit' value='Go to Store' >
               </form>
         <br><br>
   </center></td>
<td class="cost-row">
   <center>R1790 <br> per year <br><br>
               <form action='http://domains-hosting.yebolocal.com/hosting/website-builder2.aspx?ci=1806&prog_id=yebolocal'>
                  <input class="my-button" 
                     style="background: white; color:black; 
                                 margin-top:10px; margin-bottom:10px;" 
                     name='submit' type='submit' value='Go to Store' >
               </form>
         <br><br>
   </center></td>
</tr>

</tbody>
</table>