<div class="row">
      <center>
      <div class="col-md-2"> 
      </div>
      </center>
      <center>
      <div class="col-md-3"> 
            <h2 style="color:white;"> We do it all<br>for you</h2>
            <p> Complete we do it all for you packages which include website design, website hosting, domain name registration, professional email and more <a style="color:white; text-decoration: underline;" href="/do-it-all-for-you-packages"> Click here </a></p>
       </div>
      </center>
      <center>
       <div class="col-md-2">
             <br> 
            <h2> or </h2>
            <br> 
       </div>
       </center>
       <center>
       <div class="col-md-3"> 
            <h2 style="color:white;"> Build a custom <br>solution yourself</h2>
            <p> There is a option for you to choose which services would benefit your business, brand or cause the most <a style="color:white; text-decoration: underline;" href="/build-your-own-package"> Click here </a></p>
       </div>
       </center>
       <center>
       <div class="col-md-2"> 
       </div>
       </center>
</div>
