<div class="row">
      <center>
      <div class="col-md-3"> 
             <center><h2 style="color:white;"> Do it yourself <br> easy website</h2></center>
             <p> Fast, Easy and complete, with all the pieces you need to build a professional, full-featured website. With 24 hours a day, 365 days a year customer support available.</p>
            <br>
            <center><label  class="my-button" style="background:black">  <a href="http://domains-hosting.yebolocal.com/hosting/website-builder2.aspx?ci=1806&prog_id=yebolocal" style="color:white;"> Go to Store </a> 
            </label></center>
      </div> 
      </center>
       <center>
       <div class="col-md-1">
             <br> 
            <h2 style="color:white;"> or </h2>
            <br> 
       </div>
       </center>
      <center>
      <div class="col-md-4 recomended" > 
            <h2 style="color:white;"> We do it all<br>for you</h2>
            <br>
            <p style="color:white;"> Complete "we do it all for you" packages include website design, website hosting, domain name registration, professional email and more. </p>
            <br>
            <label  class="my-button orange ">  <a href="/do-it-all-for-you-packages"> Do it all for me </a> </label>
            <br>
            <br>
       </div>
      </center>
      <center>
       <div class="col-md-1">
             <br> 
            <h2 style="color:white;"> or </h2>
            <br> 
       </div>
       </center>
       <center>
       <div class="col-md-3"> 
            <h2 style="color:white;"> Supported <br> Semi-DIY</h2>
            <p> You can do it yourself, using our products and tools. You to choose which combination of services would benefit your business, brand or cause the most.</p>
            <br>
            <label  class="my-button" style="background:black">  <a href="/supported-semi-diy"> 
            Show me how</a> </label>
            </div>
       </center>
       <center>
       <div class="col-md-2"> 
       </div>
       </center>
</div>
<br>
