<center><label  class="my-button" style="background:white;">  <a href="/contact-us" target="_blank" style="color:black; text-decoration: none;">  Contact us </a> </label></center>

<center>  <a href="/we-do-it-for-you"><img src="../../assets/img/earthman-small.png" alt="Yebolocal.com"></a></center>

<center>
<div class="footer-sub">

<div style="background: black;  color: white; padding-left: 10px; padding-right: 10px"> 
Website Design - Web Hosting - Domain Names - Email - Video - Social Media - Content Marketing - Email Marketing
</div>

</div> <! -- end of footer-sub div -->
</center>
      
<p> Yebolocal.com <a href="http://yebolocal.com/" title="Yebolocal Web Design"></a> <br> Copyright &copy; 2013 All Rights Reserved </p>
		
		
		
		
