<div class="row">
      <div class="col-md-1 website-design-wrapper"> 
      <br>
       </div>
       <div class="col-md-1 web-hosting-wrapper"> 
      <br>
       </div>
       <div class="col-md-1 domains-wrapper"> 
       <br>
       </div>
       <div class="col-md-6"> 
            <div class="carousel-inner">
               <div class="item active">
                        <br>
                        <center> <img src="../../assets/img/logo-400-200.png" alt="logo-400-200" width="400" 
                           height="200" /> </center>
                  <div class="carousel-caption">
                  </div> <!-- end of carousel-caption -->
               </div> <!-- end of item-->
            </div> <!-- end of carousel-inner -->
       </div>
       <div class="col-md-1 email-wrapper"> 
       <br>
       </div>
       <div class="col-md-1 video-wrapper"> 
       <br>
       </div>
       <div class="col-md-1 social-media-wrapper"> 
       <br>
       </div>
</div>