<div class="row">
       <div class="col-md-3"> 
       </div>
       <div class="col-md-6"> 
            <div class="carousel-inner">
               <div class="item active">
                        <br>
                        <center> <img src="../../assets/img/logo-400-200.png" alt="logo-400-200" width="400" 
                           height="200" /> </center>
                     <div class="carousel-caption">
                  </div> <!-- end of carousel-caption -->
               </div> <!-- end of item-->
            </div> <!-- end of carousel-inner -->
       </div>
       <div class="col-md-3" style="background: black"> 
            <div>
            <center><h2 style="color:white;"> We can do <br>it all for you</h2></center>
            <br>
            <center><label  class="my-button orange ">  <a href="/do-it-all-for-you-packages"> 
            Do it all for me </a> </center>
            <br>
            <center><p style="font-size: x-small; color: white;"> Website Design - Web Hosting - Domain Names <br> Email - Video - Social Media <br> Content Marketing - Email Marketing </p></center>
            <br>
            </label>
            </div>
       </div>
</div>