<div class="header-back">         
                    <div class="row">  <!-- row in row item -->
                       <div class="col-md-3"> 
                       <br>
                       <br>
                       <br>
                      </div>
                      <div class="col-md-6"> 
                        <center><img src="../../assets/img/yebolocal-logo-title-black.png" 
                        alt="yebolocal-logo-title-black"  height="55" 
                        style="margin-top:42px;"/>
                        </center>
                     </div>
                     <div class="col-md-3"> 
                        <p align="right" style="font-size:x-small; margin-right:12px;"> <br>For sales &#38; support related questions in <strong>South Africa</strong> <br> please call <strong> &#40; 012 &#41; 743 &#45; 6411 </strong >during office hours <img style="margin-left:5px; "src="http://yebolocal.com/assets/img/sa-flag-18-12.png" alt="sa-flag-18-12" width="18" height="12" /></p>
                     </div>
                  </div> <!-- end of row in row in row item -->
                  
                  <div>
                        {% include bits/nav.html%} 
                  </div>
</div>

  <!--
<p align="right" style="font-size:x-small; margin-right:12px;"> <br>Change Country </p>
-->
   
          
       <!--  
           <div class="col-md-2" style="
               background: white;
               border-left-color: black;
               border-left-style: solid;
               border-left-width: 2px;
            "> 
            <div>
            <center><h4 style="color:black;"> We can do <br>it all for you</h4></center>
               <center><p style="font-size: xx-small; color: grey;"> 
               Website Design <br> 
               Web Hosting <br>   
               Domain Names <br> 
               Email <br> 
               Video <br> 
               Social Media <br> 
               Content Marketing <br> 
               Email Marketing 
               </p></center>
               <center><label  class="my-button-small orange ">  
               <a href="/do-it-all-for-you-packages"> 
                  Do it all for me </a> </label></center>
            
            </div>
       </div>
       -->
